.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.2fr 1.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". up ."
    "left down right";
}

.up {
  grid-area: up;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.down {
  grid-area: down;
}

.arrow {
  cursor: pointer;
}
